@charset "UTF-8";
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/earlyaccess/sawarabigothic.css");
* {
  box-sizing: border-box;
}

body {
  min-width: 320px;
}

.ly_wrapper {
  font-family: "Sawarabi Gothic", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", Meiryo, メイリオ, Osaka, "MS PGothic", arial, helvetica, sans-serif;
}

.ly_header {
  width: 100%;
}

.un_logo {
  padding: 32px 16px;
  text-align: center;
  color: #333;
  font-size: 36px;
}

.un_logo a {
  text-decoration: none;
  color: #38c4b9;
}

.ly_nav {
  width: 100%;
  overflow: hidden;
}

.un_menu-list {
  overflow: hidden;
  width: 100%;
}

.un_menu-item {
  float: left;
  width: 25%;
}

.un_menu-link {
  display: block;
  text-decoration: none;
  text-align: center;
  background-color: #38c4b9;
  padding: 16px 0;
  color: #fff;
  transition: .2s;
}

.un_menu-link:hover {
  background-color: #84ffd5;
}

@media screen and (min-width: 768px) {
  .un_menu-link {
    letter-spacing: 4px;
  }
}

.ly_footer {
  background-color: #333;
  padding: 16px;
}

.un_foot-menu {
  margin-bottom: 16px;
}

.un_foot-link {
  color: #fff;
  text-decoration: none;
  letter-spacing: 2px;
}

.un_foot-link:hover {
  border-bottom: 2px solid #fff;
}

@media screen and (min-width: 768px) {
  .un_foot-menu {
    text-align: center;
  }
}

.bl_sect-block {
  padding: 16px;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .bl_sect-block {
    text-align: center;
  }
}

.el_sect-ttl {
  font-size: 20px;
  margin: 16px 0 32px 16px;
  background-color: #38c4b9;
  color: #fff;
  padding: 16px;
  display: inline-block;
  position: relative;
  border-radius: 8px;
  letter-spacing: 2px;
}

.el_sect-ttl:after {
  display: block;
  content: "";
  width: 0;
  border: 10px solid transparent;
  border-top: 20px solid #38c4b9;
  position: absolute;
  left: 10%;
  top: 99%;
}

.el_sect-ttl .fa {
  margin-right: 4px;
}

.el_sect-txt {
  line-height: 1.8;
  letter-spacing: .2px;
}

.el_sect_strong {
  background-image: linear-gradient(to bottom, transparent 60%, #84ffd5 40%);
  padding: 0 4px;
}

@media screen and (min-width: 768px) {
  .el_sect-ttl:after {
    left: 45%;
  }
}
