.ly_footer {
	background-color: $black-color;
	padding: 16px;
}

.un_foot-menu {
	margin-bottom: 16px;
}

.un_foot-link {
	color: $white-color;
	text-decoration: none;
	letter-spacing: 2px;
	&:hover {
		border-bottom: 2px solid #fff;
	}
}

@media screen and (min-width: $tb-size) {
	.un_foot-menu {
		text-align: center;
	}
}