.el_sect-ttl {
	font-size: 20px;
	margin: 16px 0 32px 16px;
	background-color: $bleu-color;
	color: $white-color;
	padding: 16px;
	display: inline-block;
	position: relative;
	border-radius: 8px;
	letter-spacing: 2px;
	&:after {
		display: block;
		content: "";
		width: 0;
		border: 10px solid transparent;
		border-top: 20px solid $bleu-color;
		position: absolute;
		left: 10%;
		top: 99%;
	}
	.fa {
		margin-right: 4px;
	}
}
.el_sect-txt {
	line-height: 1.8;
	letter-spacing: .2px;
}
.el_sect_strong {
	background-image: linear-gradient(to bottom, transparent 60%, $sky-bleu-color 40%);
	padding: 0 4px;
}

@media screen and (min-width: $tb-size) {
	.el_sect-ttl {
		&:after {
			left: 45%;
		}
	}
}